.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chatbox {
  width: 50%;
  max-width: 1000px;
  min-width: 300px;
  background: white;
  padding: 1em;
  margin: auto;
  text-align: left;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.chatbox .chatUser {
  font-weight: 600;
}
.chatbox .message:nth-child(even) {
  background: #efefef;
  padding: 5px;
}
.chatbox .message:nth-child(odd) {
  padding: 5px;
}